services:
  machine-bridge:
    # Rename service from 'app' to 'nextjs-app' for clarity, if needed (or keep 'app' if you prefer, but be consistent)
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile

    dns:
      - 8.8.8.8
      - 8.8.4.4
      
    networks:
      - app-network
    # Use an anonymous volume for node_modules to avoid issues with host OS mismatches
    volumes:
      # Keep the bind mount for development
      - .:/workspaces/machine-bridge
      # Hide the host's node_modules
      - /workspaces/machine-bridge/node_modules


networks:
  app-network:
    driver: bridge

# volumes:
#   mongo-data:
#     driver: local